body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainBox {
  width: 60%;
  min-width: 800px;
  display: flex;
}

/* 以下是header部分样式 */

header {
  background-color: rgb(40, 117, 117);
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 115px;
  transition: all 0.3s;
}

.headerBox {  
  position: relative;
  margin-inline: 23vw;
  min-width: 700px;
  display: flex;
}

.logoBox {
  position: relative;
  top: 0px;
  left: 0px;
  transition: all 0.3s;
}

.logoBox h1 {
  color: white;
  margin-bottom: 10px;
}

.logoBox p {
  color: white;
  margin-top: 0px;
  margin-bottom: 21px;
}

header nav {
  position: relative;
  top: 30px;
  transition: all 0.3s;
}

header ul {
  margin-block: 15px;
  font-size: medium;
  font-weight: 500;
  clear: both;
  overflow: hidden;
}

header li {
  float: left;
  margin-inline: 25px;
  color: white;
  transition: all 0.2s;
}

header li::after {
  content: "";
  display: block;
  margin-top: 4px;
  height: 3px;
  width: 0px;
  background-color: white;
  transition: all 0.2s;
}

header li:hover::after {
  width: 100%;
}

header .selected::after {
  content: "";
  display: block;
  margin-top: 4px;
  height: 3px;
  width: 100%;
  background-color: white;
}

#headerdown {
  background-color: rgba(40, 117, 117, 0.859);
  height: 58px;
}

#logoBoxdown {
  position: absolute;
  top: -100px;
}

#headerBoxopen {
  justify-content: space-between;
}

#headerBoxdown {
  justify-content: end;
}

#navdown {
  position: absolute;
  top: 0px;
}

/* 以下是侧栏部分样式 */

.aside {
  margin: 20px;
  padding: 10px;
  width: 240px;
  position: relative;
  top : 140px;
}

.aside>div {
  position: sticky;
  top: 100px;
}

.aside li {
  margin-block: 20px;
  padding-block: 10px;
  padding-left: 20px;
  padding-right: 90px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: large;
  border-radius: 30px;
  transition: all 0.2s;
}

.aside .asideNavselected {
  background-color: rgba(228, 228, 228, 0.933);
}

.aside .fliter {
  margin: 5px;
  margin-top: 30px ;
  padding: 10px;
  border: 1px solid rgba(228, 228, 228, 0.933);
  border-radius: 20px;
  clear: both;
  overflow: hidden;
}

.aside .search {
  margin-block: 5px;
  border: 1px solid rgba(228, 228, 228, 0.933);
  border-radius: 25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 228, 228, 0.933)
}

.aside input[type="button"] {
  background-color: rgb(40, 117, 117);
  border: none;
  border-radius: 15px;
  width: 30px;
  height: 30px;
}

.aside input[type="text"] {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 80%;
  height: 30px;
}

.aside li:hover {
  background-color: rgb(240, 240, 240);
}

.aside h2 {
  margin-inline: 5px;
  margin-bottom: 12px;
  margin-top: 5px;
}

.aside h2::after {
  content: "";
  display: block;
  width: 100%;
  background-color: rgb(40, 117, 117);
  height: 2px;
  margin-top: 10px;
}

.aside .label {
  float: left;
  height: 20px;
  padding: 7px;
  padding-top: 5px;
  margin: 5px;
  border-radius: 20px;
  background-color: rgba(228, 228, 228, 0.933);
  transition: all 0.2s;
}

.aside .label:hover {
  background-color: rgb(40, 117, 117);
  color: white;
}

/* 以下是news默认页面主体样式 */

.articleContainer {
  padding: 40px;
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.933);
  min-height: 100vh;
}

.articleContainer>div {
  position: relative;
  top: 90px;
}

.competition {
  margin: 20px;
  clear: both;
  overflow: hidden;
}

.competition h2::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
  background-color: rgb(40, 117, 117);
  height: 100%;
  border-radius: 2.5px;
}

.competition h2 {
  position: relative;
  padding-left: 15px;
}

.competition samp {

}

.labelstyle2 {
  float: left;
  font-size: small;
  font-weight: 500;
  font-family: "Microsoft YaHei";
  color: rgb(0, 0, 0);
  background-color: rgba(40, 117, 117, 0.284);
  padding-inline: 20px;
  padding-bottom: 7px;
  padding-top: 6px;
  margin-right: 7px;
  border-radius: 20px;
}

.competition p {
  width: 100%;
  text-indent: 20px;
  float: left;
}

.pageContainer {
  padding: 40px;
  width: calc(100%);
  background-color: rgba(240, 240, 240, 0.933);
  min-height: 100vh;
}

.goodsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: calc(100% - 300px);
  background-color: rgba(240, 240, 240, 0.933);
  min-height: 100vh;
}

.goodsContainer ul {
  width: 100%;
}

.goodsSmall {
  float: left;
  margin-bottom: 20px;
  width: calc(50% - 2px);
  height: auto;
  aspect-ratio: 3/4;
  max-width: 250px;
}

.goodsLarge {
  float: left;
  margin-bottom: 20px;
  width: calc(33% - 2px);
  min-width: 166px;
  max-width: 282px;
  height: auto;
  aspect-ratio: 3/4;
}
